<app-nav></app-nav>
<h1 class="text-dark text-center"
  style="padding: 10px; font-weight: bold; font-family: 'Times New Roman', Times, serif; margin-bottom: -0.5em;">
  Services</h1>

<div class="main">
  <!--cards -->
  <div class="card ">
    <div class="image">
      <img
        src="https://use.expensify.com/assets/img/illustrations/simple-illustration__smartscan.svg"/>
    </div>
    <div class="title">
      <h1 class="card-title">One-click receipt scanning</h1>
    </div>
    <div class="des">
      <p>
        Snap a photo of your receipt with the Expensify receipt scanner and 
        SmartScan will automatically capture all the details. </p>
      <button (click)="login()">Apply</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img
        src="https://use.expensify.com/assets/img/illustrations/simple-illustration__coins.svg" />
    </div>
    <div class="title">
      <h1 class="card-title">Advanced tax tracking</h1>
    </div>
    <div class="des">
      <p>
        Sync tax rates from your accounting package or set custom tax names, 
        rates, codes, and defaults for every expense policy.</p>
      <button (click)="login()">Apply</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img
        src="https://use.expensify.com/assets/img/illustrations/simple-illustration__blueshield.svg" />
    </div>
    <div class="title">
      <h1 class="card-title">Audit and compliance</h1>
    </div>
    <div class="des">
      <p>
        Automatically detect duplicate receipts, ensure accurate exchange rates, and 
        confirm the validity of each transaction.
      </p>
      <button (click)="login()">Apply</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img src="https://use.expensify.com/assets/img/illustrations/simple-illustration__newuser.svg" />
    </div>
    <div class="title">
      <h1 class="card-title">Delegated access</h1>
    </div>
    <div class="des">
      <p>
        Allow colleagues to create, submit, or approve reports on your behalf, and 
        easily give auditors the data to analyze.
      </p>
      <button (click)="login()">Apply</button>
    </div>
  </div>



</div>
<app-footer></app-footer>